.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

// Using custom breakpoints from the map
@media (min-width: map-get($breakpoints, mobile-small)) {
  .container {
    max-width: 350px; // Adjusted manually
  }
}
@media (min-width: map-get($breakpoints, mobile-medium)) {
  .container {
    max-width: 540px; // Standard Bootstrap value adjusted to nearest custom breakpoint
  }
}
@media (min-width: map-get($breakpoints, mobile)) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: map-get($breakpoints, tablet)) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: map-get($breakpoints, small-desktop)) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: map-get($breakpoints, large-desktop)) {
  .container {
    max-width: 1320px;
  }
}