.product-additional-details {
  width: 100%;
  overflow: hidden;
  padding: 2rem;
  background: $gray-light-1;

  .tab-list {
    ul {
      display: flex;
      @media (max-width: map-get($breakpoints, mobile)) {
        display: block;
      }
      li {
        text-transform: uppercase;
        color: $base;
        font-weight: 700;
        margin-right: 1.25rem;
        border-bottom: 4px solid transparent;
        padding-bottom: 0.625rem;
        cursor: pointer;
        transition: all ease-in 0.25s;
        @media (max-width: map-get($breakpoints, mobile)) {
          margin-right: 0;
          padding: 0.625rem;
        }
        &.active {
          border-color: $base;
          @media (max-width: map-get($breakpoints, mobile)) {
            border: 0;
            background: $base;
            color: $white;
          }
        }
      }
    }
  }

  .tab-content {
    padding: 1.5rem 0;
  }
}